<div>
    <div class="d-flex flex-row pt-3 justify-content-between">
        <p class="h4">Projects</p>

        <a class="text-decoration-none" routerLink="/addproject" routerLinkActive="active">
        <button class="btn btn-outline-dark d-flex align-items-center justify-content-between">
            <span class="me-2">Add Project</span>
            <mat-icon>add</mat-icon>
        </button>
    </a>
    </div>

    <div class="card m-2" >
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-primary">1</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, ex fuga nihil magnam aspernatur, eveniet provident tenetur labore mollitia est ducimus quia quas dolore alias omnis accusantium suscipit commodi.</td>
                    <td><span class="badge bg-primary fs-6 p-2">Pending</span></td>
                   <td><a class="text-decoration-none" routerLink="/projectdetails" routerLinkActive="active"><span class="badge btn bg-secondary fs-6 p-2">View</span></a></td>
                  </tr>
                  <tr>
                    <td class="text-primary">2</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, ex fuga nihil magnam aspernatur, eveniet provident tenetur labore mollitia est ducimus quia quas dolore alias omnis accusantium suscipit commodi.</td>
                    <td><span class="badge bg-success fs-6 p-2">Completed</span></td>
                    <td><span class="badge btn bg-secondary fs-6 p-2">View</span></td>
                  </tr>
                  <tr>
                    <td class="text-primary">3</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, ex fuga nihil magnam aspernatur, eveniet provident tenetur labore mollitia est ducimus quia quas dolore alias omnis accusantium suscipit commodi.</td>
                    <td><span class="badge bg-primary fs-6 p-2">Pending</span></td>
                    <td><span class="badge btn bg-secondary fs-6 p-2">View</span></td>
                  </tr>
                  <tr>
                    <td class="text-primary">4</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, ex fuga nihil magnam aspernatur, eveniet provident tenetur labore mollitia est ducimus quia quas dolore alias omnis accusantium suscipit commodi.</td>
                    <td><span class="badge bg-danger fs-6 p-2">Cancelled</span></td>
                    <td><span class="badge btn bg-secondary fs-6 p-2">View</span></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
