<div>
    <p>Project Details</p>

    <div class="d-flex flex-row m-2">
        <div class="card col-5 col-md-9 me-3 ">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <p class="h3 text-warning">Wordpress Website</p>
                    <button class="btn btn-link text-primary text-decoration-none">Edit project</button>
                </div>

                <p>Status: <span class="badge bg-success">Active</span></p>
                <div>
                    <table class="table">
                        <tr>
                            <td>Created by:</td>
                            <td>Last Updated: 22-08-2021 12:15:57</td>
                        </tr>
                        <tr>
                            <td>Messages: 277</td>
                            <td>Created: 22-08-2021</td>
                        </tr>
                        <tr>
                            <td>Commits: 175</td>
                            <td>Deadline: 22-09-2021</td>
                        </tr>
                        <tr>
                            <td>Version: v2.5.2</td>
                            <td>Team: ++++++</td>
                        </tr>
                
                    </table>

                    <div class="d-flex align-items-center">
                    <span class="fw-bold p-3">Project Status:</span>
                    <div class="progress flex-grow-1 me-3" style="height: 5px;">
                        <div class="progress-bar bg-primary" style="width: 50%;"></div>
                    </div>
                    </div>
                    <span class="fw-bold fs-3 p-3">50% <span class="text-secondary fs-5">Project Completed.</span></span>
                    
                    <div class="card mt-3">
                        <div class="body p-3">
                            <span type="button" class="btn btn-secondary">
                                Messages <span class="badge bg-danger">4</span>
                            </span>

                            <div class="d-flex flex-row align-items-start mt-2">
                                <!-- Avatar -->
                                <div class="bg-secondary d-flex align-items-center justify-content-center rounded-circle" style="height: 30px; width: 50px;"></div>
                            
                                <!-- Text Content -->
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-1 fw-bold">Airi Satou</p>
                                    <p class="mb-0 text-muted">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda, 
                                        perferendis tenetur nemo quaerat commodi reprehenderit laudantium pariatur inventore ducimus.
                                    </p>
                                </div>
                            
                                <!-- Time -->
                                <div class="ms-3 text-muted">
                                    <p class="mb-0">2h ago</p>
                                </div>
                            </div>
                            
                        </div>
        
                    </div>
                </div>
            </div>
            

        </div>

        <div class=" col-8 col-md-3 p-3">
            <div class="card d-flex flex-column m-2">
                <div class="card-body">
                    <p class="h4">Project Description</p>
                    <p class="text-justify text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iure odio, fugiat error incidunt voluptas temporibus dolor, neque quasi corrupti quam minima iusto? Libero perspiciatis velit nostrum corporis fugit veritatis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at unde laborum iste quos ex consectetur necessitatibus voluptate exercitationem deserunt, possimus nulla beatae maxime hic debitis eos voluptatum similique dolores.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident rerum et ut ipsum delectus est ratione sint saepe, ullam suscipit voluptas itaque quas quisquam magnam in eligendi adipisci. Sunt, libero.
                    </p>
                </div>
    
            </div>

            <div class="card">
                <div class="card-body">
                    <p>Client Details</p>
                    <p class="fw-bold">Client: <span class="fw-normal">xyx.pvt.ltd</span></p>
                    <p class="fw-bold">Email: <span class="fw-normal">xyzatgmailcom</span></p>
                    <p class="fw-bold">Payment Status: <span class="fw-normal">Completed</span></p>
                </div>

            </div>
        </div>
        
    </div>
</div>