<div>
    <p>All Holiday</p>

    <div class="card">
        <div>
            <!-- Header -->
            <div class="head bg-light d-flex flex-row justify-content-between align-items-center p-3">
                <!-- Title & Search -->
                <div class="d-flex flex-row align-items-center gap-2">
                    <p class="mb-0 fw-bold">Holidays</p>
                    <input type="text" class="form-control" placeholder="Search..." id="holiday" name="holiday"/>
                </div>
    
                <!-- Icons -->
                <div class="d-flex gap-5">
                    <mat-icon class="text-primary">filter_list</mat-icon>
                    <mat-icon class="text-success">add_circle</mat-icon>
                    <mat-icon class="text-secondary">refresh</mat-icon>
                    <mat-icon class="text-info">download</mat-icon>
                </div>
            </div>
    
            <!-- Body -->
            <div class="body p-3">
                <table class="table">
                    <thead>
                      <tr class="fw-bold">
                        <th>Holiday Name</th>
                        <th>Shift</th>
                        <th>Date</th>
                        <th>Holiday Type</th>
                        <th>Created By</th>
                        <th>Creation Date</th>
                        <th>Approval Status</th>
                        <th>Details</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>New Year</td>
                        <td>All Shifts</td>
                        <td>12/31/2-21</td>
                        <td>National</td>
                        <td>Admin</td>
                        <td>11/01/2021</td>
                        <td><span class="badge bg-success fs-6">Approved</span></td>
                        <td><p style="max-lines: 1;overflow: hidden; white-space: nowrap;">This festive season is about...</p></td>
                        <td>
                            <div class="d-flex flex-row gap-4">
                                <mat-icon class="text-primary">edit_square</mat-icon>
                                <mat-icon class="text-danger">delete</mat-icon>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>New Year</td>
                        <td>All Shifts</td>
                        <td>12/31/2-21</td>
                        <td>National</td>
                        <td>Admin</td>
                        <td>11/01/2021</td>
                        <td><span class="badge bg-success fs-6">Approved</span></td>
                        <td><p style="max-lines: 1;overflow: hidden; white-space: nowrap;">This festive season is about...</p></td>
                        <td>
                            <div class="d-flex flex-row gap-4">
                                <mat-icon class="text-primary">edit_square</mat-icon>
                                <mat-icon class="text-danger">delete</mat-icon>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>New Year</td>
                        <td>All Shifts</td>
                        <td>12/31/2-21</td>
                        <td>National</td>
                        <td>Admin</td>
                        <td>11/01/2021</td>
                        <td><span class="badge bg-success fs-6">Approved</span></td>
                        <td><p style="max-lines: 1;overflow: hidden; white-space: nowrap;">This festive season is about...</p></td>
                        <td>
                            <div class="d-flex flex-row gap-4">
                                <mat-icon class="text-primary">edit_square</mat-icon>
                                <mat-icon class="text-danger">delete</mat-icon>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>New Year</td>
                        <td>All Shifts</td>
                        <td>12/31/2-21</td>
                        <td>National</td>
                        <td>Admin</td>
                        <td>11/01/2021</td>
                        <td><span class="badge bg-success fs-6">Approved</span></td>
                        <td><p style="max-lines: 1;overflow: hidden; white-space: nowrap;">This festive season is about...</p></td>
                        <td>
                            <div class="d-flex flex-row gap-4">
                                <mat-icon class="text-primary">edit_square</mat-icon>
                                <mat-icon class="text-danger">delete</mat-icon>
                            </div>
                        </td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
</div>