<div>
    <p>All Employee</p>

    <div class="card">
        <div>
            <!-- Header -->
            <div class="head bg-light d-flex flex-row justify-content-between align-items-center p-3">
                <!-- Title & Search -->
                <div class="d-flex flex-row align-items-center gap-2">
                    <p class="mb-0 fw-bold">Employees</p>
                    <input type="text" class="form-control" placeholder="Search..." id="employee" name="employee"/>
                </div>
    
                <!-- Icons -->
                <div class="d-flex gap-5">
                    <mat-icon class="text-primary">filter_list</mat-icon>
                    <mat-icon class="text-success">add_circle</mat-icon>
                    <mat-icon class="text-secondary">refresh</mat-icon>
                    <mat-icon class="text-info">download</mat-icon>
                </div>
            </div>
    
            <!-- Body -->
            <div class="body p-3">
                <table class="table">
                    <thead>
                      <tr class="fw-bold">
                        <th>Name</th>
                        <th>Role</th>
                        <th>Department</th>
                        <th>Mobile</th>
                        <th>Joining Date</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John Doe</td>
                        <td>Developer</td>
                        <td>Software Development</td>
                        <td>+254716453748</td>
                        <td>04/10/2019</td>
                        <td>nicholas.embuni.ac.ke</td>
                        <td><span class="badge bg-success fs-6">Male</span></td>
                        <td>123 Nairobi Kenya</td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
</div>
