.sidenav-container {
    height: 100vh;
    display: flex;
  }
  
  mat-sidenav {
    width: 250px;
    background: #f4f4f4;
    margin-top: 30%;
  }
  
  mat-nav-list a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    padding-bottom: 30px;
    
  }
  
  mat-nav-list a mat-icon {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
  