<div>
    <p>All Projects Overview</p>

    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row w-100 justify-content-between">
                <div>
                    <p class="h4">New Projects</p>
                    <p class="text-secondary">0 projects</p>
                </div>

                <div>
                    <p class="h4">Running</p>
                    <p class="text-secondary">1 project</p>
                    <div class="card bg-light p-4">
                        <div class="body">
                            <p class="fw-bold">Testing</p>
                            <div class="d-flex flex-row justify-content-between">
                                <p>15 open tasks</p>
                                <button class="btn bg-primary text-light">Website</button>
                            </div>
                            <p>Testing Michalis Add a project</p>
                            <p class="fw-bold"><span class="fw-normal">at: Jul 31, 2024</span> </p>
                            <p class="fw-bold">Team Leader:<span class="fw-normal">Michael</span></p>
                            <p class="fw-bold">Priority: <span class="fw-normal">Medium</span></p>
                            <p class="fw-bold">Deadline: <span class="fw-normal">Apr 22, 2025</span></p>
                            <p class="fw-bold">Comments: <span class="fw-normal">41</span></p>
                            <p class="fw-bold">Bug:  <span class="fw-normal">11</span></p>
                            <p class="fw-bold">Team: <span class="fw-normal">+++++++++</span></p>

                            <div class="d-flex align-items-center">
                                <span class="fw-bold p-3">Project Status:</span>
                                <div class="progress flex-grow-1 me-3" style="height: 5px;">
                                    <div class="progress-bar bg-primary" style="width: 50%;"></div>
                                </div>
                                </div>
                                <span class="fw-bold fs-5 p-3">50% <span class="text-secondary fs-6">Project Completed.</span></span>
                        </div>

                    </div>
                </div>
                <div>
                    <p class="h4">On Hold</p>
                    <p class="text-secondary">0 project</p>
                </div>
                <div>
                    <p class="h4">Finished</p>
                    <p class="text-secondary">0 projects</p>
                </div>
            </div>
        </div>

    </div>
</div>