<div>
    <p>All Leaves</p>

    <div class="card">
        <div>
            <!-- Header -->
            <div class="head bg-light d-flex flex-row justify-content-between align-items-center p-3">
                <!-- Title & Search -->
                <div class="d-flex flex-row align-items-center gap-2">
                    <p class="mb-0 fw-bold">Leave Requests</p>
                    <input type="text" class="form-control" placeholder="Search..." id="holiday" name="holiday"/>
                </div>
    
                <!-- Icons -->
                <div class="d-flex gap-5">
                    <mat-icon class="text-primary">filter_list</mat-icon>
                    <mat-icon class="text-success">add_circle</mat-icon>
                    <mat-icon class="text-secondary">refresh</mat-icon>
                    <mat-icon class="text-info">download</mat-icon>
                </div>
            </div>
    
            <!-- Body -->
            <div class="body p-3">
                <table class="table">
                    <thead>
                      <tr class="fw-bold">
                        <th>Employee Name</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Leave Type</th>
                        <th>Leave From</th>
                        <th>Leave To</th>
                        <th>Number of Days</th>
                        <th>Duration Type</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John Doe</td>
                        <td>E123</td>
                        <td>Human Resource</td>
                        <td>Medical Leave</td>
                        <td>04/10/1985</td>
                        <td>11/01/2021</td>
                        <td>5</td>
                        <td>Full-day</td>
                        <td><span class="badge bg-success fs-6">Approved</span></td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
</div>